@import "tailwindcss";

html,body{height:100%}

body{
    margin:0;
    background:#000;
    overflow-x:hidden;
}

body::before{
    content:"";
    position:fixed;
    inset:0;
    pointer-events:none;
    z-index:0;
    background:
            radial-gradient(1400px 900px at 50% 40%, rgba(40, 148, 156, 0.14), transparent 82%),
            radial-gradient(1200px 800px at 52% 50%, rgba(0,140,255,.09), transparent 84%),
            radial-gradient(1800px 1200px at 50% 45%, rgba(46,231,255,.06), transparent 88%),
            linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.55) 65%, rgba(0,0,0,.95) 100%);
}


.page{
    position:relative;
    z-index:2;
    color:#fff;
}