@import "tailwindcss";

html,body{height:100%}

:root{
    color-scheme: dark;
}



.page{
    position:relative;
    z-index:2;
    color:#fff;
}

html, body{
    overflow-x:hidden;
}

.doc-layout{
    min-width:0;
}

.doc-center, .doc-inner, .doc-article{
    min-width:0;
}

:root{
    --topbar-h:84px;
    --anchor-offset:16px;
}

html{
    scroll-padding-top: calc(var(--topbar-h) + var(--anchor-offset));
}

.section[id]{
    scroll-margin-top: calc(var(--topbar-h) + var(--anchor-offset));
}
