@import "tailwindcss";

html,body{height:100%}

:root{
    color-scheme: dark;
}



.page{
    position:relative;
    z-index:2;
    color:#fff;
}

html, body{
    overflow-x:hidden;
}

.doc-layout{
    min-width:0;
}

.doc-center, .doc-inner, .doc-article{
    min-width:0;
}

