---
import DocUI from "../components/doc/DocUI.astro"
import DocControls from "./doc/DocControls.astro";
import DocAlgorithms from "./doc/DocAlgorithms.astro";
import DocSocial from "./doc/DocSocial.astro";
import DocMatrix from "./doc/DocMatrix.astro";
import DocIO from "./doc/DocIO.astro";
import DocPlatform from "./doc/DocPlatform.astro";
import DocTree from "./doc/DocTree.astro";
---

<section class="doc-hero">
    <div class="doc-hero-inner">
        <h1 class="doc-h1">Documentación</h1>
        <p class="doc-lead">
            Guía de uso de MadnessMad: interfaz, controles, algoritmos, métricas, matrices e import/export.
        </p>
    </div>
</section>

<!--


-->
<DocUI />

<DocControls />

<DocAlgorithms />

<DocSocial />

<DocTree />

<DocMatrix />

<DocIO />

<DocPlatform />

