<nav class="ds">
    <div class="ds-title">Documentación</div>

    <details class="ds-group">
        <summary class="ds-link ds-summary">Interfaz</summary>
        <a class="ds-link ds-indent" href="/doc#ui-general">General</a>
        <a class="ds-link ds-indent" href="/doc#ui-vertices">Vértices</a>
        <a class="ds-link ds-indent" href="/doc#ui-aristas">Aristas</a>
        <a class="ds-link ds-indent" href="/doc#ui-bucles">Bucles</a>
    </details>

    <a class="ds-link" href="/doc#controls">Controles</a>
    <a class="ds-link" href="/doc#algorithms">Algoritmos</a>
    <a class="ds-link" href="/doc#social">Redes sociales</a>
    <a class="ds-link" href="/doc#matrices">Matrices</a>
    <a class="ds-link" href="/doc#io">Archivo</a>
    <a class="ds-link" href="/doc#platform">Plataformas soportadas</a>
</nav>
