<nav class="ds">
    <div class="ds-title">Documentación</div>
    <a class="ds-link" href="/doc#ui">Interfaz</a>
    <a class="ds-link ds-indent" href="/doc#ui-general">General</a>
    <a class="ds-link ds-indent" href="/doc#ui-vertices">Vértices</a>
    <a class="ds-link ds-indent" href="/doc#ui-aristas">Aristas</a>
    <a class="ds-link ds-indent" href="/doc#ui-bucles">Bucles</a>
    <a class="ds-link" href="/doc#controls">Controles</a>
    <a class="ds-link ds-indent" href="/doc#controls-mouse">Ratón</a>
    <a class="ds-link ds-indent" href="/doc#controls-keyboard">Teclado</a>
    <a class="ds-link" href="/doc#algorithms">Algoritmos</a>
    <a class="ds-link ds-indent" href="/doc#algorithms-list">Implementados</a>
    <a class="ds-link ds-indent" href="/doc#algorithms-animations">Animaciones</a>
    <a class="ds-link" href="/doc#social">Redes sociales</a>
    <a class="ds-link" href="/doc#info">Info del grafo</a>
    <a class="ds-link" href="/doc#matrices">Matrices</a>
    <a class="ds-link" href="/doc#io">Archivo</a>
</nav>
