<header class="topbar">
    <nav class="topbar-inner">
        <a class="brand" href="/">
            <img class="brand-logo" src="/logo_mm_sin_fondo.png" alt="MadnessMad" />
            <span class="brand-text">MadnessMad</span>
        </a>
        <div class="links">
            <a href="#doc">Documentación</a>
            <a href="#demo">Demo</a>
            <a href="#contact">Contacto</a>
        </div>
    </nav>
</header>
