---
import "../styles/global.css"
import "../styles/topbar.css"

import TopBar from "../components/TopBar.astro"
---



<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<title>MadnessMad</title>
</head>
<body>
<TopBar />

<div class="page">
	<slot />
</div>
</body>
</html>
